div{
	font-family: Times;
	height: 100px;
	width: 200px;
	padding: 10px;
	font-size: 18px;

}
.uno{
	background-color: yellow;
	margin-bottom: 20px;
}
.dos{
	background-color: red;
	margin-bottom: 20px;
}
.tres{
	background-color: yellow;
	margin-bottom: 20px;
}